.Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: rgba(70, 97, 155, 0.904);
  line-height: 0.5;
  border-bottom: 1px solid rgba(70, 97, 155, 0.904);
}

.Wrapper {
  display: grid;
  grid-template-columns: 50px 300px 200px;
  align-items: center;
}

.Name {
  padding: 10px 0;
  margin-right: 10px;
  line-height: 1;
  font-weight: 600;
  font-size: 15px;
}

.Number {
  padding: 10px 0;
  margin-right: 10px;
  font-size: 15px;
  text-decoration: none;
}

.TelLink,
.MailLink {
  color: inherit;
}

.TelLink {
  text-decoration: none;
}

.TelLink:hover,
.MailLink:hover {
  color: rgba(9, 108, 255);
}

.Button {
  width: 24px;
  height: 20px;
  padding: 1px 3px;
  height: 20px;
  background-color: rgba(17, 182, 25, 0.904);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.Button:hover,
.Button:focus {
  background-color: rgb(17, 143, 0);
}

.IconSpinner {
  margin-right: 15px;
  animation: spinner infinite 4s linear;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
